@use "../settings";

//-----
.birka {
  @include settings.flex-block(center, center, 100vw);
  position: fixed;
  @extend %small-font;
  cursor: pointer;
  &_hidden {
    display: none;
  }
  &_top {
    top:1vh;
  }
  &_bottom {
    top: 7vh;
  }
}

.indicator {
  position: fixed;
  right: 0;
  top: 0;
  width: 57px;
  height: 57px;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#animation {
  position: relative;
  z-index: 1000;
  pointer-events: all;
}
//-----

header {
  position: fixed;
  top: 3vh;
  z-index: 997;
  //@include settings.flex-block(space-evenly, center, 30%);
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: .5rem;

  //----
  .headline {
    padding-left: .5rem;
    color: var(--accent-color);
    @media screen and (max-width: settings.$mobile-size) {
      font-size: settings.$headline-font;
    }
  //----

  }

  .parameter {
    @extend %small-font;
    color: var(--additionl-color);
    margin-left: .5em;
  }
/*
  .button {
    background: url('./icons/burger.svg') no-repeat center;
    @include settings.flex-block(center, center, 2rem, 2rem);
    margin: .25rem;
    @media screen and (max-width: settings.$mobile-size) {
      width: 2.5rem;
      height: 3rem;
      margin: 1rem;
    }

    &:hover{
      background: url('./icons/burger_hover.svg') no-repeat center;
      cursor: pointer;
    }
  }*/
}