@use "../settings";

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('./icons/pattern.svg') repeat;
  z-index: 10000;
  animation: appear .2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &_fade {
    transition: opacity .2s ease-in-out;
    opacity: 0;
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: min(3%, 3rem) 8% min(4%, 4rem);
    background-color: var(--extra-back-color);
    color: var(--main-color);
    border-radius: 2px;
    @include settings.flex-block(center, space-between);
    flex-direction: column;

    @media screen and (max-width: settings.$mobile-size) {
      padding: 3rem .25rem;
    }
    &:hover {
      cursor: default;
    }

    .options-line {
      padding: 1.5rem;
      @include settings.flex-block();

      .option {
        @include settings.flex-block(center, center, 3.5rem);
        color: var(--main-color);
        margin: 0 .1rem;
        min-height: 40px;
        min-width: 60px;
        padding: .5rem 1rem;
        border-radius: 3rem;

        &:hover{
          color: var(--accent-color);
          cursor: pointer;
        }

        &_active {
          color: var(--accent-color);
          border: .1rem solid var(--accent-color);

          &:hover{
            cursor: default;
          }
        }
      }
    }
  }
}


