html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  vertical-align: top;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  cursor: grab;
}

body {
  background: var(--extra-back-color);
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Chrome, Safari, Edge */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  --extra-back-color: #FFFFFF;
  --back-color: #FFFFFF;
  --main-color: #262626;
  --additionl-color: #aaa;
  --accent-color: crimson;
  --invert-accent: red;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  font-weight: normal;
  font-size: clamp(0.8rem, 1.5vw + 0.25rem, 2rem);
  color: var(--main-color);
}
:root header .parameter, :root .day_hover .day-text {
  font-size: 0.4rem;
}
@media screen and (max-width: 640px) {
  :root header .parameter, :root .day_hover .day-text {
    font-size: 0.8rem;
  }
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.calendar-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .calendar-slider {
    height: 75vh;
  }
}
@media screen and (max-width: 640px) {
  .calendar-slider {
    height: 70vh;
  }
}

.calendar-slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
}

.calendar-slide {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(32, 1fr);
  gap: 0;
  text-align: center;
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  overflow: visible;
}
.calendar-cell-hr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

.day_hover, .special-day, .working-day {
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.working-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: none;
}
@media screen and (orientation: portrait) {
  .working-day {
    height: 6%;
    width: auto;
  }
}
@media screen and (orientation: landscape) {
  .working-day {
    width: 6%;
    height: auto;
  }
}
.working-day::before {
  content: "";
  display: block;
}

.special-day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--accent-color);
  cursor: none;
}
@media screen and (orientation: portrait) {
  .special-day {
    height: 12%;
    width: auto;
  }
}
@media screen and (orientation: landscape) {
  .special-day {
    width: 12%;
    height: auto;
  }
}
.special-day::before {
  content: "";
  display: block;
}

.current-date {
  outline: 0.075em solid var(--main-color);
  outline-offset: 0.5em;
  -webkit-border-radius: 50%;
}
@media screen and (max-width: 640px) {
  .current-date {
    outline-width: 1px;
  }
}

@media screen and (min-width: 800px) {
  .day_hover {
    width: 86%;
    height: auto;
  }
}
.day_hover .day-text {
  align-self: center;
  color: var(--back-color);
  text-align: center;
  line-height: 1.3;
  pointer-events: none;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  --extra-back-color: #FFFFFF;
  --back-color: #FFFFFF;
  --main-color: #262626;
  --additionl-color: #aaa;
  --accent-color: crimson;
  --invert-accent: red;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  font-weight: normal;
  font-size: clamp(0.8rem, 1.5vw + 0.25rem, 2rem);
  color: var(--main-color);
}
:root header .parameter, :root .day_hover .day-text {
  font-size: 0.4rem;
}
@media screen and (max-width: 640px) {
  :root header .parameter, :root .day_hover .day-text {
    font-size: 0.8rem;
  }
}

.day-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  opacity: 1;
}
.day-slider-closed {
  opacity: 0;
  scale: 5%;
  transform-origin: center;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.day-slider .day-slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
}
.day-slider .day-slides .day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--main-color);
  flex-direction: column;
}
@media screen and (orientation: portrait) {
  .day-slider .day-slides .day {
    height: auto;
    width: 30%;
  }
}
@media screen and (orientation: landscape) {
  .day-slider .day-slides .day {
    position: relative;
    top: 10%;
    height: 80%;
    width: auto;
  }
}
.day-slider .day-slides .day .day-text_small {
  font-size: 2rem;
  color: var(--back-color);
  margin-bottom: 5%;
}
.day-slider .day-slides .day .day-text {
  font-size: 8rem;
  color: var(--back-color);
}
.day-slider .day-slides .day_working {
  background: var(--main-color);
}
.day-slider .day-slides .day_special {
  background: var(--accent-color);
}

header {
  position: absolute;
  top: 0;
  z-index: 997;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}
header .headline {
  padding-left: 0.5rem;
  color: var(--accent-color);
}
@media screen and (max-width: 640px) {
  header .headline {
    font-size: 2rem;
  }
}
header .parameter {
  color: var(--additionl-color);
  margin-left: 0.5em;
}
header .button {
  background: url("./icons/burger.svg") no-repeat center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin: 0.25rem;
}
@media screen and (max-width: 640px) {
  header .button {
    width: 2.5rem;
    height: 3rem;
    margin: 1rem;
  }
}
header .button:hover {
  background: url("./icons/burger_hover.svg") no-repeat center;
  cursor: pointer;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  --extra-back-color: #FFFFFF;
  --back-color: #FFFFFF;
  --main-color: #262626;
  --additionl-color: #aaa;
  --accent-color: crimson;
  --invert-accent: red;
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  font-weight: normal;
  font-size: clamp(0.8rem, 1.5vw + 0.25rem, 2rem);
  color: var(--main-color);
}
:root .day_hover .day-text, :root header .parameter {
  font-size: 0.4rem;
}
@media screen and (max-width: 640px) {
  :root .day_hover .day-text, :root header .parameter {
    font-size: 0.8rem;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("./icons/pattern.svg") repeat;
  z-index: 10000;
  animation: appear 0.2s ease-in-out;
}
.overlay:hover {
  cursor: pointer;
}
.overlay_fade {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.overlay .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: min(3%, 3rem) 8% min(4%, 4rem);
  background-color: var(--extra-back-color);
  color: var(--main-color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: auto;
  height: auto;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .overlay .popup {
    padding: 3rem 0.25rem;
  }
}
.overlay .popup:hover {
  cursor: default;
}
.overlay .popup .options-line {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.overlay .popup .options-line .option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: auto;
  color: var(--main-color);
  margin: 0 0.1rem;
  min-height: 40px;
  min-width: 60px;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}
.overlay .popup .options-line .option:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.overlay .popup .options-line .option_active {
  color: var(--accent-color);
  border: 0.1rem solid var(--accent-color);
}
.overlay .popup .options-line .option_active:hover {
  cursor: default;
}

.close-button {
  background: url("./icons/close.svg") no-repeat center;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  top: 7vh;
  position: absolute;
  z-index: 998;
}
@media screen and (orientation: landscape) {
  .close-button {
    top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
