@use "../settings";

.content {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.calendar-slider {
  @include settings.flex-block(center, center, 100vw, 80vh);
  position: relative;
  overflow: hidden;
  @media screen and (max-width: settings.$tablet-size) {
    height: 75vh;
  }
  @media screen and (max-width: settings.$mobile-size) {
    height: 70vh;
  }

  &_hidden {
    transition: all .4s ease-out;
    transform-origin: center;
    transform: scale(1.5);
    opacity: 0;
  }
}

.calendar-slides {
  @include settings.flex-block(center, center, 300%, 100%);
  position: absolute;
  left: -100%;
}

.calendar-slide {
  width: 100vw;
  height:100%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(32, 1fr);
  gap: 0;
  text-align: center;
}

.calendar-cell {
  fill: var(--main-color);
  overflow: visible;
  position: relative;
  top: 50%;
  width: 100%;
  height: 100%;
  /*@media screen and (max-width: $mobile-size) {
    pointer-events: none;
  }*/

}

.calendar-cell-hr {
  @include settings.flex-block(center, center, 100%, 100%);
  position: relative;
  overflow: visible;
  //min-width: 20px;
  //min-height: 20px;
}

%cellHover {
  transition: r .2s ease-in-out;
}

.working-day {
  cx: 50;
  cy: 50;
  r: 3;

 /* &:hover {
    r: 50;
  }
  @extend %cellHover;*/
}

.special-day {
  x: 50;
  y: 60;
  width: 12%;
  height: 12%;
  transform: rotate(45deg);
  transform-origin: 75% 50%;
}

.current-date {
  cx: 50;
  cy: 50;
  r: 40;
  fill: none;
  stroke-width: 3;
  stroke: var(--main-color);
}

.day_hover {
  @media screen and (min-width: settings.$tablet-size) {
    width: 86%;
    height: auto;
  }
  @extend %cellHover;
  .day-text {
    @extend %small-font;
    align-self: center;
    color: var(--back-color);
    text-align: center;
    line-height: 1.3;
    pointer-events: none;
  }
}
